<div class="landing_container">


<div id="space"></div>


<div class="row">

<div class="large-6 columns">
<h4>Experts Shouldn't Be Hard to Find.</h4>

<p>There are sites all over the internet to find experts.  Elance, Guru, oDesk and others.  And yet nearly every person who has been or looked for a freelance expert on one of those sites has a story to tell.  Either the story is about posting a simple job and being bombarded by copy-and-paste proposals, or attempting to respond to a job and realizing that someone with real skills gets raidcally undersold by someone who starts their proposal with "Dear Kind Sir".  

<p>We created FindExpert to solve this problem: we want to let companies who need work done by real experts find those real experts without having to wade through 75 completely iimpersonal proposals.

</div>
  <div class="large-5 columns">
  <p><b>Sign up now to receive pleasantly infrequent updates as we get ready to launch.</b>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :username %><br />
    <%= f.text_field :username %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

  </div>
</div>
<<<<<<< HEAD


<div id="space"></div>


</div>
=======
>>>>>>> 0680e8156c39d2cdc3cd610c2fdb1fcdeb89bbbb
