<div class="landing_container">


<div id="space"></div>


<div class="row">

<div class="large-6 columns">
<h4>Experts Shouldnn't Be Hard to Find.</h4>

<h6>Tired of getting bombarded by copy-and-paste proposals or getting undersold by overseas freelancers that can’t write a full sentence? Something exciting is coming for project managers and experts alike!</h6>

<p>Sign up now to receive pleasantly infrequent updates as we get ready to launch.  We won't spam you.  Pinky swear.

  <%= form_for(@record_emails) do |f| %>
  <% if @record_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record_email.errors.count, "error") %> prohibited this record_email from being saved:</h2>

      <ul>
      <% @record_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <div><%= f.submit "Sign up" %></div>
  </div>
<% end %>





</div>
<<<<<<< HEAD


<div id="space"></div>


</div>
=======
>>>>>>> 0680e8156c39d2cdc3cd610c2fdb1fcdeb89bbbb
