 <!-- First Band (Image) -->
 
<div class="row">
<div class="large-12 columns">
<img src="http://placehold.it/1000x400&text=[img]">
 
<hr>
</div>
</div>
 
<div class="row">
  <div class="large-4 large-centered columns">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :username %><br />
    <%= f.text_field :username %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

  </div>
</div>


<!-- Third Band (Image Right with Text) -->
 
<div class="row">
<div class="large-8 columns">
<h4>This is a content section.</h4>
 
<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
</div>
<div class="large-4 columns">
<img src="http://placehold.it/400x300&text=[img]">
</div>
</div>