<%= form_for(@ourmail) do |f| %>
  <% if @ourmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ourmail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
      <% @ourmail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
